.site-footer {
  background-color: $mainBlue;
  color: white;
  padding: .7rem 0;
  text-align: center;
  
  p {
    margin: 0; 
  }

  &__text {
    display: block;
    margin-bottom: .7rem;
    font-weight: 200;
  }
  
  @mixin atMedium {
    &__text {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 3rem;
    }
  }
}